@tailwind base;
@tailwind components;
@tailwind utilities;

/* create default background as black and use the css variables */

:root {
  --bg-color: #000;
  --text: #fff;
  --accent: #f00;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
}
